/*MAIN*/

body {
    background: rgb(17, 17, 17);
    color: rgb(247,217,23);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*navegador*/
header {
    color:black;
    background: rgb(247,217,23);
    height: 80px;
    padding: 0px;
    font-size: 30px;    
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /*background-color:white; */  
    height: 80px;
    
}

ul {
    margin: 0;
    padding: 0;
    /*background-color: lightblue;*/
    list-style: none;
    
}

ul li {
    display: inline-block;
    /*background-color: white;*/
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    }

a {
    text-decoration: none;
    color: black;
    }

.logo {
    font-family: Australian Sunrise;
    font-size: 80px;
    color: black;
    /*background-color: red;*/
    position: relative;
} 

.iniciarsesion{
    background-image: url("imagenes/lucky-cat.png");
    background-size: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    position: relative;
}

/*responsive rules */
@media (max-width: 1140px){
    .barra, .logo {
        height: 60px;
        font-size: 60px;
         }  
             
}

@media (max-width: 650px){
    .barra, .logo{
        height: 40px;
        font-size: 40px;
    }      
}
/*index seccciones de productos y ubicacion */

.sec1 {
    width: 100%;
    height: 700px;
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-image: url("imagenes/cocinaimagengrande.jpg");
    background-size: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(15, 15, 15);

} 

.h1main {
    text-transform: uppercase;
    font-size: 8vw;
       /* background-color: tomato; */
    padding: 0px;
    margin: 0px;
}

.h2main {
    font-size: 4vw;
    
   /* background-color: tomato;*/
    padding: 0px;
    margin: 0px;
}


/*responsive rules */
@media (max-width: 1140px){
    .sec1{
        height: 400px;
        
    }    
}

@media (max-width: 650px){
    .sec1{
        height: 200px;
    }    
}

/*IniciarSesion*/
.sec1is {
    background-color: rgb(247,217,23);
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px; 
    display: flex;
    flex-direction: row;
    align-items: normal;
    color: white;

}

.sec1isiz {
    
    padding: 0;
    margin: 0;
    width: 50%;
    background-position: center;
    background-image: url("imagenes/laulocal1.jpg");
    background-size: 100vh;
    
    overflow: hidden;
    background-repeat: no-repeat;

}

/*  .sec1isiz  img{   
    background-color: lightgray;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0; 

} */
.sec1isde{
    background-color: rgb(247,217,23);
    color: rgb(26, 24, 14);
    width: 50%;
    height:100%;
    padding-top: 20vh;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    font: Manjari bold;
    align-items: center; 

}

.sec1isde div{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-content: center;
    align-items: center;
    background-color: rgb(247,217,23);
    justify-content: center;
}

/* codigo copiado https://codepen.io/Tushkiz/pen/xqfsy/ */
/* * {
    box-sizing: border-box;
    }
    
    *:focus {
        outline: none;
    }
    body {
    font-family: Arial;
    background-color: #3498DB;
    
    } */
    .login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }
    
    .app-title {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    
    .btn {
      border: 2px solid transparent;
      background: #3498DB;
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
    }
    
    .btn:hover {
      background-color: #e41347;
    }
    
    .login-link {   
      font-size: 12px;
      color: #444;
      display: block;
        margin-top: 12px;
    }